/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
}
/*Variables*/

:root{
    --bg-color:#FFF2F2;
    --secundary-color:#28487b;
    --main-color:#1B396A;
    --tittle-color: #E5E0FF;
    --main-shadow:#0e264d; 
}

body{
    background-color: var(--bg-color);
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 25px;
}

/*----------------------------------Header--------------------------------------*/
header{
    height: 4em;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

 .mainText{
    color: var(--tittle-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
} 

nav a{
    text-transform: uppercase;
    color:var(--tittle-color);
    text-decoration: none;
    padding: 0 1rem;
    transition: 0.4s;
    font-size: 0.8rem;
}
.mostrar-menu, .ocultar-menu{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: var(--tittle-color);
}
.mostrar-menu{
    order: 1;
}
nav a:hover,
.mostrar-menu:hover, 
.ocultar-menu:hover{
    color : #F7C04A;
}

#check{
    display: none;
}

/*--------------Boton de descarga----------------*/
.descarga{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 1.8em;
    background-color:#F7C04A;
    color: #ffffff;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 10px var(--main-shadow);
    border-radius: 8px;
    margin: 2% 0 1% 2%;
    cursor: pointer;
    font-size: 1.5rem;
}
.descarga:active{
    transform: translateY(2px);
}


/*------------------------Main--------------------------------*/

main{
    display: flex;
    align-items: center;/*eje y*/
    justify-content:center ; /* eje x*/
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    color: var(--tittle-color);
    background-color: var(--secundary-color);
    border-radius:10px; 
    flex-direction: column;
}

.logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    margin-bottom: 5%;
}

.logos img{
    width:25%;
    height: 5rem;
}


form{
    text-align: center;
    display: grid;
    /*place-items: center; centrar con grid*/
    grid-template-columns: auto auto;
    width: 100%;
    row-gap: 20px;
}

.elemento1, .elemento2, .elemento5, .elemento6, .boton{
    grid-column: 1/3;
    margin-bottom: 3%;
}

 .elemento2, .elemento5{
    height:100%;
    border-radius: 10px;
    
}
.elemento1{
    height: 100px;
}
.elemento3{
    border-radius: 10px 0 0 10px;
    height: 100%;

}
.elemento4{
    border-radius: 0 10px 10px 0;
    height: 100%;
}

.elemento2 label, .elemento5 label{
    margin:1.5% 0;

}

input[type = "radio"]{
    width: 1.3rem;
    height: 1.3rem;
}


.elemento1 select{
    width: 50%;
    font-size: 1.2rem;
    box-sizing: border-box;
    /* font-family: 'Verdana', sans-serif; */
    font-weight: 400;
    color: #444;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    height: 1.5em;
    padding-left: 20px;
}

.elemento1 select option:hover{
    text-decoration: none;
    border-bottom: 1px solid var(--main-color);
}

div h2{
    margin: 0 0 30px;
    font-size: 1.5rem;
    color: white;
}

label{
font-size: 1.3rem;
margin-right: 5px;
}


.solicitud label, .analisis label{
    display: block;
    font-size: 1.3rem;
    }

.solicitud input, .analisis input{
    width: 50%;
    font-size: 1.2rem;
    box-sizing: border-box;
    /* font-family: 'Verdana', sans-serif; */
    font-weight: 400;
    color: #444;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    height: 1.5em;
    padding-left: 20px;
}
.elemento6{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
    margin-bottom: 100px;
    place-items: center;
    /* border: 5px solid white;
    border-radius: 8px; */
}

.elemento6 h2{
    grid-column: 1/5;
}

.tablaPA{
    width: 18rem;
}
.tablaPA label{
    font-size: 1rem;
}
.tablaPA input{
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
    /* font-family: 'Verdana', sans-serif; */
    font-weight: 400;
    color: #444;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    height: 1.5em;
    padding-left: 20px;
    margin-top: 20px;

}

/*-------------- Boton para agregar otra fila--------------------*/

.addRow{
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 100%;
    color: white;
    background-color: #F7C04A;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addRow:active{
    transform: translateY(2px);
}
/*---------------------------------------------------------------*/


.boton{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.boton input{
    width: 20%;
    height: 1.8em;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: var(--main-color);
    border: none;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    width: 185%;
    display: flex;
    justify-content: space-around;
    row-gap: 30px;
}

.footer p{
    width: 100%;
    font-size: 2rem;
}
.izq{
    text-align: left;
}
.der{
    text-align: right;
}

/*---------------Cambio Pass---------------*/
.contenedorCambioContra{
    width: 40%;
    height: 20rem;
    position: absolute;
    top: 17%;
    right: 2%;
    background-color: white;
    border-radius: 10px;
    display: none;
    align-items: center;
    box-shadow: 10px 10px 20px var(--main-shadow);
    flex-direction: column;
    padding-top: 2%;
}
.cerrar{
    width: 10%;
    color: #D21312;
    background-color: white;
    border:1px solid #D21312;
    border-radius: 8px;
    cursor: pointer;
}
.cambioPass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.cambioPass label{
    font-size: 1.3rem;
    text-align: left;
    width: 80%;
}

.cambioPass input{
    border: none;
    border-bottom:2px solid #444;
    width: 80%;
    cursor: text;
    height: 1.5rem;
    font-size: 1.3rem;
    padding-left: 5%;
    position: relative;
    margin-bottom: 2%;
}

.cambioPass input[type = "submit"]{
    width: 50%;
    cursor: pointer;
    height: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #0e264d;
    color: white;
    border: none;
    border-radius: 10px;


}

.icono{
    width: 1.2rem;
}
.cambioPass .hide-icon{
    display: none;
}

.cambioPass .show-icon{
    position: absolute;
    left: 80%;
    top: 118px;
    cursor: pointer;
    width: auto;
}

.cambioPass #passControl{
    display: none;
}

.cambioPass .hide-icon2{
    display: none;
}

.cambioPass .show-icon2{
    position: absolute;
    left: 80%;
    top: 218px;
    cursor: pointer;
    width: auto;
}

.cambioPass #passControl2{
    display: none;
}


/*---------------------------Responsive------------------------------------*/
@media(max-width: 768px){
    /*Header*/
    .mostrar-menu,
    .ocultar-menu{
        display: block;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--main-color);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 10;
        transition: 0.8s;
    }

    nav a{
        display: block;
        padding: 20px 0;
    }

    nav .logout{
        position: relative;
        top: 40%;
    }

    .ocultar-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~nav{
        right: 0;
    }
    /*--------------Boton de descarga----------------*/
.descarga{
    width: 40%;
}

    /*Main*/

    main{
        width: 80%;
    }
    .elemento3, .elemento4{
        grid-column: 1/3;
    }

    .solicitud, .analisis{
        display: flex;
        flex-direction: column;
    }

    .elemento1, .elemento2, .elemento3, .elemento4, .elemento5, .elemento6{
        background-color: var(--secundary-color);
        height: 100%;
        border-radius: 10px;
    }

    
    
    /*Table*/
    .elemento6{
        height: 100%;
        place-items: center; 
    }
    .tablaPA{
        grid-column: 1/5;
    }

    .footer{
        width: 185%;
        display: flex;
        justify-content: space-around;
        row-gap: 30px;
    }
    
    .footer p{
        width: 100%;
        font-size: 1.5rem;
    }

    /*---------------Cambio Pass---------------*/

.contenedorCambioContra{
    width: 60%;
    height: 20rem;
    top :30%;
    right: 20%;
    z-index: 100;
}

.cambioPass input[type = "submit"]{
    font-size: 1rem;
}

.cambioPass .show-icon{
    left: 85%;
    top: 102px;
}

.cambioPass .show-icon2{

    left: 85%;
    top: 202px;

}
}