/*Reset CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/

:root{
    --bg-color:#FFF2F2;
    --secundary-color:#28487b;
    --main-color:#1B396A;
    --tittle-color: #E5E0FF;
    --main-shadow:#0e264d; 
}

body{
    /* background: linear-gradient(to right, #444346,  #3c3b3e, #191818); */
    background-color: var(--bg-color);
    font-family: 'Montserrat-regular', sans-serif;
}

/*----------------------------------Header--------------------------------------*/
header{
    height: 5em;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

 .mainText{
    color: var(--tittle-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
} 

nav a{
    text-transform: uppercase;
    color:var(--tittle-color);
    text-decoration: none;
    padding: 0 1rem;
    transition: 0.4s;
    font-size: 0.8rem;
}
.mostrar-menu, .ocultar-menu{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: var(--tittle-color);
}
.mostrar-menu{
    order: 1;
}
nav a:hover,
.mostrar-menu:hover, 
.ocultar-menu:hover{
    color : #F7C04A;
}

#check{
    display: none;
}

/*-----------------------Main---------------------------*/
main{

    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
    margin-bottom: 5%;
}
.logos img{
    width:25%;
    height: 10rem;
}

table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
 
}
thead{
    background-color: var(--secundary-color);
}
tr:hover td:not(#delete){
    background-color: #44444472;
    color: white;
}
th{
    width: 13%;
    border: 2px solid var(--main-shadow);
    color: white;
    height: 1.8em;
    font-size: 1.5rem;
    padding: 5px;
    text-align: left;
}
td{
    width: 13%;
    border: 2px solid var(--secundary-color);
    color: #444;
    height: 1.8em;
    font-size: 1.3rem;
    padding: 5px;
    text-align: left;
}
#delete{
    width: 9%;
    border: none;  
}

button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #D21312;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
}

button:active{
    transform: translateY(2px);
}


/*------------Footer--------------------------*/
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    row-gap: 30px;
    margin-top: 20px;
}

.footer p{
    width: 100%;
    font-size: 1.5rem;
}
.footer p:first-of-type{
    text-align: left;
    padding-left: 20px;
  
}
.footer p:last-of-type{
    text-align: right;
    padding-right: 20px;

}
/*Responsive*/
@media(max-width: 768px){
    /*----------------------header--------------------*/
    .mostrar-menu,
    .ocultar-menu{
        display: block;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--main-color);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    nav a{
        display: block;
        padding: 20px 0;
    }

    nav .logout{
        position: relative;
        top: 40%;
    }

    .ocultar-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~nav{
        right: 0;
    }


    /*-------------------------Main-------------------------*/
    main{
        margin: 50px 0;
        width: 100%;
        display: grid;
        place-items: center;
    }
    /*-------------------------Table-------------------------*/
    table{
        width: 100%;
    }

    thead{
        display: none;
    }
    table tr:not(:last-of-type){
        display: block;
        font-size: 15px;
        margin-bottom: 5%;

    }
    
    table tr td{
        display: block;
        font-size: 10px;
        width: 100%;
        text-align: right;
    }

    #delete{
        width: 100%;
        display: flex;
        justify-content: center;
        border: none;
    }

    button{
        width: 50%;
        height: 1.5em;
        font-size: 1rem;
    }
 
   table td::before{
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
   } 
}
